create database CT
go 
use CT
go
create table NHANVIEN
(
HO varchar(15),
DEM varchar(20),
TEN varchar(15),
MANV char(9) primary key,
NGSINH datetime,
DIACHI varchar(70),
GIOITINH nvarchar(5) check ( GIOITINH in ('m','M','f','F')),
LUONG int,
MAGSAT char(9),
MAPHONG int
)
alter table NHANVIEN add constraint MGS foreign key (MAGSAT) references NHANVIEN(MANV)
alter table NHANVIEN add constraint MP foreign key (MAPHONG) references PHONGBAN(MAPB)
go
create table PHONGBAN
(
TENPB varchar(30),
MAPB int primary key,
TRPHONG char(9),
NGNHANCHUC datetime
)
go
create table TRUSO_PHONG
(
MAPHONG int not null,
TRUSO varchar(20)not null,
primary key (MAPHONG,TRUSO)
)
alter table TRUSO_PHONG add constraint TSP foreign key (MAPHONG) references PHONGBAN(MAPB)
go
create table THAMGIA
(
MANV char(9) not null,
MADA int not null,
SOGIO real
primary key (MANV,MADA)
)
alter table THAMGIA add constraint MA_NV foreign key (MANV) references NHANVIEN(MANV)
alter table THAMGIA add constraint MDA foreign key (MADA) references DUAN(MADA)
go 
create table THANNHAN
(
MANV char(9) not null,
TENTN varchar(50)not null,
GTINH nvarchar(5) check ( GTINH in ('m','M','f','F')),
NGSINH datetime,
QUANHE varchar(10)
primary key (MANV,TENTN)
)
alter table THANNHAN add constraint MNV1 foreign key(MANV) references NHANVIEN(MANV)
go
create table DUAN
(
TENDA varchar(30),
MADA int primary key,
DIADIEM varchar(70),
PHQUANLY int
)
alter table DUAN add constraint PQL foreign key(PHQUANLY) references PHONGBAN(MAPB)

--Nhập Liệu PHONGBAN
insert into PHONGBAN (TENPB,MAPB,TRPHONG,NGNHANCHUC)
values('nghien cuu',5,null,null)
insert into PHONGBAN (TENPB,MAPB,TRPHONG,NGNHANCHUC)
values('hanh chinh',4, null,null)
insert into PHONGBAN (TENPB,MAPB,TRPHONG,NGNHANCHUC)
values('giam doc',1, null, null)
-- Chinh sửa PHONGBAN
update PHONGBAN
set TRPHONG='333445555',NGNHANCHUC='1988-06-22'
where MAPB=5;
update PHONGBAN
set TRPHONG='987987987',NGNHANCHUC='1995-01-01'
where MAPB=4;
update PHONGBAN
set TRPHONG='888665555',NGNHANCHUC='1981-06-19'
where MAPB=1;

--Nhập Liệu NHANVIEN
insert into NHANVIEN(HO,DEM,TEN,MANV,NGSINH,DIACHI,GIOITINH,LUONG,MAGSAT,MAPHONG)
values('Nguyen','Bao','Hung',123456789,'1965-01-09','Phan Dang Luu,Phu Nhuan,TpHCM','M','30000',null,5)
insert into NHANVIEN(HO,DEM,TEN,MANV,NGSINH,DIACHI,GIOITINH,LUONG,MAGSAT,MAPHONG)
values('Phan','Van','Nghia',333445555,'1955-12-08','63 Tran Huy Lieu,Phu Nhuan,TpHCM','M','40000',null,5)
insert into NHANVIEN(HO,DEM,TEN,MANV,NGSINH,DIACHI,GIOITINH,LUONG,MAGSAT,MAPHONG)
values('Au','','Vuong',999887777,'1968-01-19','32 Cao Ba nha,Q1,TpHCM','F','25000',null,4)
-- Chinh sửa NHANVIEN
update NHANVIEN
set MAGSAT='333445555'
where MAPHONG=5;
update NHANVIEN
set MAGSAT='888665555'
where MAPHONG=5;
update NHANVIEN
set MAGSAT='987654321'
where MAPHONG=4

-- Nhập liệu TRUSO_PHONG
insert into TRUSO_PHONG(MAPHONG,TRUSO)
values(1,'PHU NHUAN')
insert into TRUSO_PHONG(MAPHONG,TRUSO)
values(4,'GO VAP')
insert into TRUSO_PHONG(MAPHONG,TRUSO)
values(5,'Tan Binh')

--Nhập liệu THAMGIA
insert into THAMGIA(MANV,MADA,SOGIO)
values(123456789,1,32.5)
insert into THAMGIA(MANV,MADA,SOGIO)
values(123456789,2,7.5)
insert into THAMGIA(MANV,MADA,SOGIO)
values(666884444,3,40.0)



--Nhập liệu THANNHAN
insert into THANNHAN(MANV,TENTN,GTINH,NGSINH,QUANHE)
values(333445555,'Anh','F','1986/04/05','Con gai')
insert into THANNHAN(MANV,TENTN,GTINH,NGSINH,QUANHE)
values(333445555,'The','M','1983/10/25','Con trai')
insert into THANNHAN(MANV,TENTN,GTINH,NGSINH,QUANHE)
values (333445555,'Loi','F','1958/05/03','Vo')

--Nhập liệu DUAN
insert into DUAN(TENDA,MADA,DIADIEM,PHQUANLY)
values('San pham X',1,'Tan Binh',5)
insert into DUAN(TENDA,MADA,DIADIEM,PHQUANLY)
values('San pham Y',2,'Thu Duc',5)
insert into DUAN(TENDA,MADA,DIADIEM,PHQUANLY)
values('San pham Z',3,'Phu Nhuan',5)



